<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<footer id="footer" class = "mt-5">


<p class="text-center">
&copy; The Ranker by Milligan 2019
</p>

</footer>
