<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<messages>

<div class="container">

<div class="row">

<div class="col">

</div>

<div class="col-5">

<div id="messages">

<% flash.each do |key,value| %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>	

<ul id="messages_ul"

	<% if value.kind_of?(Array) %>

			>

	 	<% value.each do |e| %>

			<li>
		    <%=e.html_safe %>
		    </li>
		 <%	end %>

	<% else %>

		class="list-unstyled">

		<li>
		<%= value.html_safe %>
		</li>

	 <%	end %>

</ul>
</div>

<% end %>

</div>

</div>

<div class="col">

</div>

</div>

</div>

</messages>
       
