<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-5">

<h1 class="text-center">The Ranker</h1>

<p >PURPOSE: let SparkCognition sales provide field feedback from demos and prospect evaluations of products like Darwin, DeepNLP, SparkPredict, and DeepArmor.</p>

<p >Sales can 'upvote' feedback to surface trends and patterns.  Product management and leadership can use and download this feedback.</p>

<p >This app will let users up vote <span class="oi oi-thumb-up" title="Thumbs Up" aria-hidden="true"></span> topics.  <%= link_to "All Feedback Posts", posts_path %></p>

<% if false %>
<p class="text-center">Milligan grants a royalty-free license for SparkCognition to use The Ranker for DF<sup>2</sup> purposes</p>
<% end %>

</div>

<div class="col">

</div>

</div>

<% end %>
