<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-5">

<h1 class="text-center">The Ranker</h1>
<p class="text-center">This app will let users up vote / down vote topics. <%= link_to "All Posts", posts_path %></p>

</div>

<div class="col">

</div>

</div>

<% end %>
