<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-5">

<h1 class="text-center"><%= link_to "<span class=\"oi oi-home\" aria-hidden=\"true\"></span>".html_safe, posts_path, :title=>"Show most voted posts"%> The Ranker</h1>

</br>
</br>

<p ><strong>PURPOSE:</strong> To let people share organization ideas and let the rest upvote the best ones.</p>

<p >People can 'upvote' <span class="oi oi-thumb-up" title="Thumbs Up" aria-hidden="true"></span> to better surface thoughts.</p>

<p>People can use and download this in csv format to pull into Excel or other tools.</p>  

<p>As ideas can get or reviewed, users can update the Post status from 'Active' to 'Resolved' so they no longer appear in the default view.  They can also update a notes field to explain what was done with the idea in the Post.</p>

<p><strong>GETTING STARTED:</strong> You can read and download feedback without logging in but to add and rank feedback, you must log in.  You can filter and sort results by most voted, posts resolved, all posts, product, or most recently added.</p>

<p><%= link_to 'Return to Home', posts_path %></p>

<% if false %>
<% end %>
</br>
</br>
<p class="text-center"></p>


</div>

<div class="col">

</div>

</div>

<% end %>
