<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-5">

<h1 class="text-center">The Ranker</h1>

</br>
</br>

<p ><strong>PURPOSE:</strong> To let SparkCognition sales, customer success, and any employee who uses SparkCognition products or speaks to potential prospects and current customers, provide field feedback from internal use, demos and prospect evaluations of products like Darwin, DeepNLP, SparkPredict, and DeepArmor.</p>

<p >SparkCognition employees can 'upvote' or <span class="oi oi-thumb-up" title="Thumbs Up" aria-hidden="true"></span> feedback to surface trends and patterns, with less bias or noise from specific users.</p>

<p>Product Managers and Leadership can use and download this feedback.</p>  

<p >As Posts get resolved, Posters, Product Managers and Leadership can update the Post status from 'Active' to 'Resolved' so they no longer appear in the default view.  They can also update a notes field to explain what was done with the idea in the Post.</p>

<p><%= link_to 'All Feedback Posts', posts_path %></p>

<% if false %>
<% end %>
</br>
</br>
<p class="text-center"></p>


</div>

<div class="col">

</div>

</div>

<% end %>
