<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-11">

<h4><%= link_to "<span class=\"oi oi-home\" aria-hidden=\"true\"></span>".html_safe, posts_path, :title=>"Show most voted posts"%>Company Feedback</h4>
<p><strong>Important:</strong>  Keep posts professional, positive, and specific. ✌️</p>
<p><span class="text-danger font-weight-bold">*</span> means HR or an administrator has commented. Click post to review.</p>
<p>( filter/sort by 

<%= link_to "Most Votes", posts_path(sort: "votes"), :title=>"Sort by most Upvotes" %>,

<%= link_to "Most Recent", posts_path(sort: "created_at"), :title=>"Sort by the latest feedback added"  %>,

<%= link_to "All Statuses", posts_path(sort: "all"), :title=>"No Filter - All Posts" %>,

<%= link_to "Resolved", posts_path(sort: "resolved"), :title=>"Filter by Resolved Posts" %>,

<%= link_to "Category", posts_path(sort: "product"), :title=>"Sort by category" %>

)

<% if false %>
   OR <%= link_to "User", posts_path(sort: "email"), :title=>"Sort by user creating the feedback (A-Z)"  %>) 
<% end %>

  | 
<%= link_to 'New', new_post_path, :title=>"Create new feedback"  %>
   | 
  <%= link_to "Download", posts_export_posts_path(sort: @sort, format: "csv"), :title=>"Download all feedback as a csv file to import into Excel"  %> |
  <%= link_to "About", home_index_path, :title=>"About the Ranker tool"  %> |
      <% if user_signed_in? %>
<%= link_to 'Logout (' + current_user.email.split("@").first.to_s + ')', destroy_user_session_path, method: :delete, :title=>"Logout of the Ranker"  %>
      <% else %>
<%= link_to 'Login to Post', new_user_session_path, :title=>"Login into the Ranker to add feedback and upvote feedback"  %>
      <% end %>
<% if user_signed_in? && ADMIN.include?(current_user.email) %>
 | <%= link_to 'Admin', admin_index_path, :title=>"Create and edit users"  %>
<% end %>

<small><%= @sortname %></small> 

</p>


<table class="table table-sm table-hover all_table">
  <thead>
  <tr class="all_table_heading">
    <th style="max-width: 20px;">Rank</th>    
    <th></th>
    <th>Category</th>    
    <th>Title <span class="font-weight-normal small">(click cell or Show link to the right for detail)</span></th>
    <th class="d-none">Text <span class="font-weight-normal small">(click text cell for detail)</span></th>
    <th class="d-none">Resolution</th>     
    <th class="d-none">Submitter</th>    
    <th>Created</th>  
    <th>Status</th>       
    <th class="text-center">
      <span class="oi oi-wrench" title="Thumbs Up" aria-hidden="true"></span> 
    </th>
  </thead>
  </tr>
 

  <tbody>
  <% @posts.each do |post| %>

  <% 

  @username = post.email.split("@").first

  %>
    <tr class="">
      
      <td><div data-votes="<%= post.get_upvotes.size %>" title="The number of upvotes by users.">
        <%= post.get_upvotes.size %>
      </td>
      <td class="voter">

<% if user_signed_in? %>

<% if current_user.voted_for? post %>

<%= link_to "<span class=\"oi oi-action-undo\" aria-hidden=\"true\"></span>".html_safe, posts_unvote_path(:id=>post.id), :title=>"Cancel your vote for this post"%>

<% else %>

<%= link_to "<span class=\"oi oi-thumb-up\" aria-hidden=\"true\"></span>".html_safe, posts_upvote_path(:id=>post.id), :title=>"Upvote this post" %>

<% end %>

<% end %>

       </td>


      <td id="pproduct"><div data-title="<%= post.product %>" title="<%= post.product %>"><%= post.product %></div></td>
      <td id="ptitle"><div class="text-truncate" style="max-width: 600px;" data-title="<%= post.title %>" title="<%= post.title %>"><%= post.title %> 

<% if !post.notes.blank? %>
  <span class="text-danger font-weight-bold">*</span>
<% end %>


</div></td>
      <td class="d-none"><div data-text="<%= post.text %>" title="<%= post.text %>"><%= post.text %></div></td>
      <td class="d-none"><div data-notes="<%= post.notes %>" title="<%= post.notes %>"><%= post.notes %></div></td>      
      <td class="d-none"><div>

<% if post.anonymous %>

Anonymous

<% else %>

<%= @username %>

<% end %>        

</div></td>

<% if false %>

      <td><div><%= post.created_at.strftime("%-m/%-d/%y") %></div></td>

<% end %>

      <td><div>
        <%= time_ago_in_words(post.created_at) %>
        </div></td>
      <td><div><%= post.status %></div></td>            
      <td><div>
      
        <%= link_to 'Show', post_path(post), :title=>"Click to view post details including title, text, product and resolution by product manager. Post Id is " + post.id.to_s %>
      
        <% if user_signed_in? && ( post.user_id == current_user.id || ADMIN.include?(current_user.email) || PRODUCTMANAGERS.include?(current_user.email) ) %>
        | 
          <%= link_to 'Edit', edit_post_path(post), :title=>"Click to edit post and resolution by product manager. Post Id is " + post.id.to_s %>
        <% end %>    
      </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p></p>
<%= will_paginate @posts %>


</div>

<div class="col">

</div>

</div>

<% end %>

<% content_for :bottom do %>

  <%= render "posts/posttext" %>

<% end %>