body { 
font-family:Verdana, Geneva, sans-serif;
font-size:10pt;
color:#828282;
padding: 10px;
}

.all_table_heading {
	
	width: 100%;
	background-color: #ff6600;
	color:black;

}

.all_table {
	
	width: 85%;
	background-color: #f6f6ef;


}

th { 
padding:0px; 
border-width:0px; 
margin:0px; 
}